@model Agenda.AddEventModel

<form id="add-event-form" asp-controller="Home" asp-action="AddEvent">
    <div class="modal-body">
        <div class="mb-3 row">
            <label for="event-title" class="col-sm-3 col-form-label">Event Title</label>
            <div class="col-sm-9">
                <input asp-for="Event.Title" name="Event.Title" class="form-control" id="event-title">
                <span asp-validation-for="Event.Title" class="text-danger field-validation-valid"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="event-explanation" class="col-sm-3 col-form-label">Explanation</label>
            <div class="col-sm-9">
                <input asp-for="Event.Explanation" class="form-control" id="event-explanation">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="event-date" class="col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
                <input asp-for="Event.EventDate" name="Event.EventDate" type="date" data-val="true" data-val-required="Date of event is required." class="form-control" id="event-date">
                <span class="text-danger field-validation-valid" data-valmsg-for="event-date" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="event-urgency" class="col-sm-3 col-form-label">Event Urgency</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(model=>model.Event.EventUrgencyId, new SelectList(Model.EventUrgencyList, "ObjectId", "Name"), htmlAttributes:new{@class="form-control", @id="ddlUrgency"})
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="add-event-button" type="submit" class="btn btn-dark">Add event</button>
    </div>
</form>
